body {
  background:#0b0f14;
  color:#fff;
  font-family:Arial,sans-serif;
}

header {
  padding:20px;
  text-align:center;
  background:#121820;
}

.card {
  background:#121820;
  margin:20px;
  padding:20px;
  border-radius:12px;
}

input, select, button {
  width:100%;
  margin-top:10px;
  padding:12px;
  border-radius:8px;
  border:none;
}

button {
  background:#00ff88;
  font-weight:bold;
}

.premium-only {
  border:2px solid #00ff88;
}
